/jcRSS.DataLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcRSS.DataLayer/obj/Debug/TempPE/Entities.jcRSSModel.Context.cs.dll
/jcRSS.DataLayer/obj/Debug/TempPE/Entities.jcRSSModel.Designer.cs.dll
/jcRSS.DataLayer/obj/Debug/TempPE/Entities.jcRSSModel.cs.dll
/jcRSS.DataLayer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcRSS.DataLayer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcRSS.DataLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcRSS.DataLayer/obj/Debug/build.force
/jcRSS.DataLayer/obj/Debug/jcRSS.DataLayer.csprojResolveAssemblyReference.cache
/jcRSS.FeedGatherer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcRSS.FeedGatherer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcRSS.FeedGatherer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcRSS.FeedGatherer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcRSS.FeedGatherer/obj/Debug/build.force
/jcRSS.FeedGatherer/obj/Debug/jcRSS.FeedGatherer.csproj.App.config
/jcRSS.FeedGatherer/obj/Debug/jcRSS.FeedGatherer.csprojResolveAssemblyReference.cache
/jcRSS.PCL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcRSS.PCL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcRSS.PCL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcRSS.PCL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcRSS.PCL/obj/Debug/jcRSS.PCL.csproj.App.config
/jcRSS.PCL/obj/Debug/jcRSS.PCL.csprojResolveAssemblyReference.cache
/jcRSS.WebAPI/bin/Antlr3.Runtime.dll
/jcRSS.WebAPI/bin/EntityFramework.SqlServer.dll
/jcRSS.WebAPI/bin/EntityFramework.dll
/jcRSS.WebAPI/bin/Microsoft.Web.Infrastructure.dll
/jcRSS.WebAPI/bin/Newtonsoft.Json.dll
/jcRSS.WebAPI/bin/System.Net.Http.Formatting.dll
/jcRSS.WebAPI/bin/System.Web.Helpers.dll
/jcRSS.WebAPI/bin/System.Web.Http.WebHost.dll
/jcRSS.WebAPI/bin/System.Web.Http.dll
/jcRSS.WebAPI/bin/System.Web.Mvc.dll
/jcRSS.WebAPI/bin/System.Web.Optimization.dll
/jcRSS.WebAPI/bin/System.Web.Razor.dll
/jcRSS.WebAPI/bin/System.Web.WebPages.Deployment.dll
/jcRSS.WebAPI/bin/System.Web.WebPages.Razor.dll
/jcRSS.WebAPI/bin/System.Web.WebPages.dll
/jcRSS.WebAPI/bin/WebGrease.dll
/jcRSS.WebAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcRSS.WebAPI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcRSS.WebAPI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcRSS.WebAPI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcRSS.WebAPI/obj/Debug/jcRSS.WebAPI.csprojResolveAssemblyReference.cache
/jcRSS.WindowsStore/obj/Debug/App.g.cs
/jcRSS.WindowsStore/obj/Debug/App.g.i.cs
/jcRSS.WindowsStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcRSS.WindowsStore/obj/Debug/MainPage.g.cs
/jcRSS.WindowsStore/obj/Debug/MainPage.g.i.cs
/jcRSS.WindowsStore/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcRSS.WindowsStore/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcRSS.WindowsStore/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcRSS.WindowsStore/obj/Debug/XamlSaveStateFile.xml
/jcRSS.WindowsStore/obj/Debug/XamlTypeInfo.g.cs
/jcRSS.WindowsStore/obj/Debug/jcRSS.WindowsStore.csprojResolveAssemblyReference.cache
